@model CurrencyAppUI.Models.UserViewModel
@{
    ViewData["Title"] = "Profile";
    var links = new List<(string ActionName, string ControllerName)>
   {
        ("EUR", "UserAccount"),
        ("USD", "UserAccount"),
       ("GBP", "UserAccount")
    };

}

<div class="container-fluid">
    <h2>Profile</h2>
  
    <h3>@Model.UserTag</h3>
    <h4>Accounts</h4>
   
    @if (Model.AllAccounts == null || !Model.AllAccounts.Any())
    {
        <p>You have no accounts please add one</p>
    }
    else
    {
         @foreach (var account in Model.AllAccounts)
            {
                <div class="card">
                    <div class="card-body">
                        <strong>@account.AccountType</strong>
                        <p>@account.Amount</p>
                           
                        @{
                            var getPageLink = links.FirstOrDefault(l => l.ActionName == account.AccountType);
                         }
                           
                            @if (getPageLink != default)
                            {
                                <a href="@Url.Action(getPageLink.ActionName, getPageLink.ControllerName)">Go to @account.AccountType account</a>
                                <br />
                      
                            }
                            else
                            {
                                <p>No link available for @account.AccountType</p>
                            }
               
                    </div>
                </div>
            }   
      }

   
    @if(Model.AllAccounts.Count <= 2)
    {
        <div class="card">
            <div class="card-body">
                <h3>Add Account</h3>
                <button class="btn btn-primary" type="submit">
                    Add
                </button>
            </div>
        </div>
    }
    else
    {
        <p>We will add more acounts soon</p>
    }


</div>









